In [1]:
import pandas as pd
import numpy as np
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import glob
import geopandas as gpd
from geopy.distance import geodesic
from geopy import Point

# Grouping scraped datasets

In [2]:
path = '../scraping/datasets_scraped'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    frame = pd.read_csv(filename, index_col=None, header=0, decimal = ',')
    li.append(frame)

#concatenating all datasets and removing duplicate rows (there might be duplicate posts)
df = pd.concat(li, axis=0, ignore_index=True)
df.drop_duplicates(inplace = True)

df.head()

,title,address,area,bathrooms,bedrooms,parking_spots,extra_contents,rent,fee
0,"Apartamento com 3 Quartos para Aluguel, 228m²","Rua dos Navegantes, 215 - Boa Viagem, Recife - PE",228,4,3,1,NaN,6.000,NaN
1,"Apartamento com 4 Quartos para Aluguel, 112m²","Rua Baltazar Passos, 260 - Boa Viagem, Recife ...",112,4,4,2,"['Piscina', 'Elevador', 'Academia', 'Churrasqu...",3.500,NaN
2,"Apartamento com 4 Quartos para Aluguel, 160m²","Avenida Boa Viagem, 5822 - Boa Viagem, Recife ...",160,5,4,3,"['Piscina', 'Elevador', 'Academia', 'Condomíni...",5.000,R$ 1.232
3,"Apartamento com 3 Quartos para Aluguel, 75m²","Tamarineira, Recife - PE",75,3,3,2,"['Piscina', 'Elevador', 'Academia', 'Playgroun...",3.200,NaN
4,"Apartamento com 5 Quartos para Aluguel, 200m²","Rua Setúbal, 278 - Boa Viagem, Recife - PE",200,5,5,3,"['Elevador', 'Ar-condicionado', 'Salão de fest...",6.000,NaN

In [3]:
df.shape

(3870, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3870 entries, 0 to 22858
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3870 non-null   object
 1   address         3870 non-null   object
 2   area            3870 non-null   int64
 3   bathrooms       3870 non-null   object
 4   bedrooms        3870 non-null   int64
 5   parking_spots   3870 non-null   object
 6   extra_contents  3282 non-null   object
 7   rent            3870 non-null   object
 8   fee             1168 non-null   object
dtypes: int64(2), object(7)
memory usage: 302.3+ KB

# Data cleaning

In [5]:
#checking null values in columns
df.isna().sum()

title                0
address              0
area                 0
bathrooms            0
bedrooms             0
parking_spots        0
extra_contents     588
rent                 0
fee               2702
dtype: int64

Here we'll have two different approaches.

- For the *extra_contents* column we've already filled the null values with a empty list. That way in the EDA we'll be able to turn those lists into columns. 

- For the *fee* column we'll fill the NAs with 0, most of the posts that do not contain a fee description also say that the value is already contained in rent.

In [6]:
#removing currency simbols, filling NAs with 0 and turning column into integer
df['fee'] = df['fee'].str.replace('.','').str.replace('$','').str.replace('R','').str.strip().astype(float)
df['fee'] = df.fee.fillna(0)
df['fee'] = df.fee.astype(int)

#turning into integers columns and replacing strings
df['bathrooms'] = df.bathrooms.str.replace('--', '0')
df['bathrooms'] = df.bathrooms.astype(str).astype(int)
df['parking_spots'] = df.parking_spots.str.replace('--', '0')
df['parking_spots'] = df.parking_spots.astype(str).astype(int)

#filling nas with a empty list and turning string list into list
df.extra_contents.fillna('[]', inplace = True)
df["extra_contents"] = df["extra_contents"].apply(eval)

#turning column into integer
df['rent'] = df['rent'].str.replace('.','')
df['rent'] = df.rent.astype(int)

C:\Users\arthu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

C:\Users\arthu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [7]:
df.head()

,title,address,area,bathrooms,bedrooms,parking_spots,extra_contents,rent,fee
0,"Apartamento com 3 Quartos para Aluguel, 228m²","Rua dos Navegantes, 215 - Boa Viagem, Recife - PE",228,4,3,1,[],6000,0
1,"Apartamento com 4 Quartos para Aluguel, 112m²","Rua Baltazar Passos, 260 - Boa Viagem, Recife ...",112,4,4,2,"[Piscina, Elevador, Academia, Churrasqueira, P...",3500,0
2,"Apartamento com 4 Quartos para Aluguel, 160m²","Avenida Boa Viagem, 5822 - Boa Viagem, Recife ...",160,5,4,3,"[Piscina, Elevador, Academia, Condomínio fecha...",5000,1232
3,"Apartamento com 3 Quartos para Aluguel, 75m²","Tamarineira, Recife - PE",75,3,3,2,"[Piscina, Elevador, Academia, Playground, Salã...",3200,0
4,"Apartamento com 5 Quartos para Aluguel, 200m²","Rua Setúbal, 278 - Boa Viagem, Recife - PE",200,5,5,3,"[Elevador, Ar-condicionado, Salão de festas, A...",6000,0

In [8]:
df.sort_values(by = 'rent', ascending = False)

,title,address,area,bathrooms,bedrooms,parking_spots,extra_contents,rent,fee
1951,"Apartamento com 2 Quartos para Aluguel, 10m²","Estrada das Ubáias, 127 - Casa Amarela, Recife...",10,1,2,1,"[Elevador, Cozinha, Interfone]",270000,0
11362,"Apartamento com 2 Quartos para Aluguel, 70m²","Torre, Recife - PE",70,2,2,1,[],180000,0
14249,"Casa com 5 Quartos para Aluguel, 1000m²","Boa Viagem, Recife - PE",1000,6,5,12,[Mais de um andar],50000,0
13181,"Casa com 5 Quartos para Aluguel, 1000m²","Boa Viagem, Recife - PE",1000,6,5,12,[Mais de um andar],49999,0
486,Apartamento com 4 Quartos à Venda/Aluguel 450m²,"Avenida Boa Viagem, 2530 - Boa Viagem, Recife ...",450,5,4,5,"[Mobiliado, Elevador, Varanda, Condomínio fech...",45000,4400
...,...,...,...,...,...,...,...,...,...
3116,"Apartamento com Quarto para Aluguel, 31m²","Boa Vista, Recife - PE",31,1,1,0,[],450,230
650,"Apartamento com 2 Quartos para Aluguel, 30m²","Rua Engenho Água Clara, 94 - Imbiribeira, Reci...",30,1,2,0,[],440,0
14949,"Casa com Quarto para Aluguel, 30m²","Rua Matoso da Câmara, 106 - Tejipió, Recife - PE",30,1,1,0,[],360,0
14414,"Apartamento com Quarto para Aluguel, 40m²","Sancho, Recife - PE",40,1,1,0,[Cozinha],350,0
2184,"Apartamento com Quarto para Aluguel, 28m²","Rua Padre Bernardino Pessoa, 408 - Boa Viagem,...",28,1,1,1,"[Mobiliado, Piscina, Elevador, Ar-condicionado...",100,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3870 entries, 0 to 22858
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3870 non-null   object
 1   address         3870 non-null   object
 2   area            3870 non-null   int64
 3   bathrooms       3870 non-null   int32
 4   bedrooms        3870 non-null   int64
 5   parking_spots   3870 non-null   int32
 6   extra_contents  3870 non-null   object
 7   rent            3870 non-null   int32
 8   fee             3870 non-null   int32
dtypes: int32(4), int64(2), object(3)
memory usage: 241.9+ KB

In [10]:
#checking if all nulls were removed
df.isna().sum()

title             0
address           0
area              0
bathrooms         0
bedrooms          0
parking_spots     0
extra_contents    0
rent              0
fee               0
dtype: int64

# Feature engineering

In [11]:
#defining if a property is a house or a apartment
df['property_type'] = df.title.apply(lambda x: x.split()[0].strip().lower())

#changing names from Brazilian Portuguese to English
df.replace({'property_type' : { 'apartamento' : 'apartment', 'casa' : 'house'}}, inplace = True)

In [12]:
#creating geopy objects

locator = Nominatim(user_agent = 'myGeocoder')
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

#function to avoid timeout
#orginal code found on https://gis.stackexchange.com/questions/173569/avoid-time-out-error-nominatim-geopy-openstreetmap
def do_geocode(address, attempt=1, max_attempts=5):
    try:
        return locator.geocode(address, addressdetails=True)
    except GeocoderTimedOut:
        if attempt <= max_attempts:
            return do_geocode(address, attempt=attempt+1)
        raise

In [ ]:
#getting location data from geocode
df['location'] = df['address'].apply(lambda x: do_geocode(x))

In [ ]:
df.head()

In [ ]:
df.isna().sum()

A few posts could not have their location identified by geopy, since we'll need latitude and longitude for our future model, we'll remove these posts.

In [ ]:
#filtering out NAs in location column
df = df[df.location.notna()]

In [ ]:
df.shape

In [ ]:
#function to verify if there's a key to get out of location column
def get_key(x, key):
    try:
        result = x.raw['address'][key]
    except KeyError:
        result ='unknown'
    return result

In [ ]:
#getting neighborhood and actual city
df['neighborhood'] = df.location.apply(lambda x: get_key(x,'suburb'))
df['city'] = df.location.apply(lambda x: get_key(x, 'city'))

#getting latitude and longitude
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)


#dropping unnecessary columns
df.drop(columns = ['location', 'title', 'address'], inplace = True)

Note that this project is built using Brazilian real estate market data, which means that "neighborhood" is an important information when it comes to addresses. Also we took advantage of the geocoding to get the "neighborhood" column since our "address" column had some imperfections that would only make it harder to extract the variable.

We'll remove cities that are different from Recife, which is the main city for this project. By doing that we'll also be removing neighborhoods classified as "unknown", since those are neighborhoods from other cities wrongly classified as Recife's.

In [ ]:
#checking "unknown" neighborhoods
df[df.neighborhood == 'unknown']

In [ ]:
#checking cities in dataset
df.city.unique()

In [ ]:
#filtering only Recife
df = df[df.city == 'Recife']
df.city.unique()

In [ ]:
#now we won't need the city column anymore, so we'll remove it
df.drop(columns = ['city'], inplace = True)

In [ ]:
#checking if ther's still "unknown" neighborhoods
df[df.neighborhood == 'unknown']

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
#taking values inside lists on "extra_contents" and turning into dummy variables


#original code found on https://towardsdatascience.com/dealing-with-list-values-in-pandas-dataframes-a177e534f173
def to_1D(series):
 return pd.Series([x for _list in series for x in _list])

def boolean_df(item_lists, unique_items):
# Create empty dict
    bool_dict = {}
    
    # Loop through all the tags
    for i, item in enumerate(unique_items):
        
        # Apply boolean mask
        bool_dict[item] = item_lists.apply(lambda x: item in x)
            
    # Return the results as a dataframe
    return pd.DataFrame(bool_dict)


#creating dummy columns for each variable inside the extra_contents column            
extra_contents_df = boolean_df(df.extra_contents, to_1D(df.extra_contents)).astype(int)

#using pandas concat to add the new column to our dataset
df = pd.concat([df, extra_contents_df], axis=1)
df.drop(columns = ['extra_contents'], inplace = True)

In [ ]:
df.head()

In [ ]:
df.columns

We've now added new dummy columns to our dataset using "extra_contents" column content in order to better understand the data.

In [ ]:
#summing fee and rent column
df['rent'] = df['rent'] + df['fee']
df.drop(columns = ['fee'], inplace = True)

Most of the cases where the fee column is 0 is because this value is already included in the rent column. That's why we've summed up both columns.

In [ ]:
#naming original columns of our dataframe except for rent
original_columns = ['property_type', 'area', 'bathrooms', 'bedrooms', 'parking_spots', 
       'neighborhood','point']

Now we'll check the correlation of the new dummy columns with the independent variable and try to reduce the amount of columns that we'll use.

In [ ]:
#checking correlation of new columns to filter the important ones
new_columns_corr = abs(df.loc[:, ~df.columns.isin(original_columns)].corr()['rent']).sort_values(ascending = False)
new_columns_corr

In [ ]:
print('Number of new columns:', len(new_columns_corr) - 1)

In [ ]:
selected_new_columns = list(new_columns_corr[:6].keys())

Now we have 5 new columns that seem to have the best correlation with our independent variable (rent) out of 66 columns. By doing this we avoid that our future model may have too many features, increasing the chance of overfitting.

In [ ]:
#putting all chosen columns in a single list
selected_columns = original_columns + selected_new_columns

#filtering our dataframe
df = df[selected_columns]
df

Since this is a project written in english, we'll rename the columns from Brazilian Portuguese to English.

In [ ]:
#current columns
df.columns

In [ ]:
#renaming columns
df.columns = ['property_type', 'area', 'bathrooms', 'bedrooms', 'parking_spots',
       'neighborhood', 'point', 'rent', 'more_than_1_floor', 'furnished',
       'barbecue_grill', 'kicthen', 'security']

In [ ]:
df.head()

The last feature we'll create is a feature that measures the distance of the property to the beach. For that we'll use data provided by <a href='http://dados.recife.pe.gov.br/dataset/cobertura-da-terra'>Dados Recife</a> that contains the geometry for Recife's beach area.

In [ ]:
from shapely.geometry.polygon import Polygon
from shapely.geometry.multipolygon import MultiPolygon

#function to import file and convert multipolygons to polygons. Original code found on https://gist.github.com/mhweber/cf36bb4e09df9deee5eb54dc6be74d26
def explode(indata):
    indf = gpd.GeoDataFrame.from_file(indata)
    outdf = gpd.GeoDataFrame(columns=indf.columns)
    for idx, row in indf.iterrows():
        if type(row.geometry) == Polygon:
            outdf = outdf.append(row,ignore_index=True)
        if type(row.geometry) == MultiPolygon:
            multdf = gpd.GeoDataFrame(columns=indf.columns)
            recs = len(row.geometry)
            multdf = multdf.append([row]*recs,ignore_index=True)
            for geom in range(recs):
                multdf.loc[geom,'geometry'] = row.geometry[geom]
            outdf = outdf.append(multdf,ignore_index=True)
    return outdf

In [ ]:
#importing file
recife_area = explode('cobertura_da_terra_2013.geojson')
recife_area.head()

In [ ]:
recife_area = recife_area.loc[recife_area.classe03 == 'praia']

In Portuguese **"praia"** means **"beach"**, that's why we'll filter all the dataframe where the column "classe03" is equal to "praia".

In [ ]:
from shapely.geometry import Point

#convert multipoint into point. Original code found on https://gis.stackexchange.com/questions/302430/polygon-to-point-in-geopandas
col = recife_area.columns.tolist()
print(col)

# new GeoDataFrame with same columns
nodes = gpd.GeoDataFrame(columns=col)

# Extraction of the polygon nodes and attributes values from polys and integration into the new GeoDataFrame
for index, row in recife_area.iterrows():
    for j in list(row['geometry'].exterior.coords): 
        nodes = nodes.append({'objectid': int(row['objectid']), 'classe01':row['classe01'],'classe02':row['classe02'], 'classe03':row['classe03'], 'st_area_sh': float(row['st_area_sh']),'geometry':Point(j) },ignore_index=True)
nodes.head()

In [ ]:
#storing beach coordinates
coord_list = [(y,x) for y,x in zip(nodes['geometry'].y , nodes['geometry'].x)]

In [ ]:
#function to store the minimum distance of the property to the beach
def get_distance(x):
    values = []
    for i in coord_list:
        values.append(geodesic(x, i).km)
    return min(values)

In [ ]:
#get beach distance
df['beach_distance'] = df.point.apply(lambda x: get_distance(x))

#getting latitude and longitude columns for visualization and dropping unnecessary columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)
df.drop(columns = ['altitude', 'point'], inplace = True)

In [ ]:
df.head()

In [ ]:
df.to_csv('cleaned_df.csv', index = False)